<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/chatsUnico.css"/>
    <script src="/javascripts/chatsUnico.js" defer></script>
    <script src="/socket.io/socket.io.js" defer></script>
</head>
<body>
    <div class="chat-container">
        <div class="chat-header">
            <button id="salir">SALIR</button>
            <div class="profile_image">
                <img src="/images/profile_default.jpg" alt="Profile Image">
            </div>
            <div id="nick">NICK</div>
        </div>
        <div class="chat-messages">
            <div class="message received">
                <div class="message-content">HOLAAAAAA!</div>
            </div>
            <div class="message sent">
                <div class="message-content">Holaaa que tall!</div>
            </div>
        </div>
        <div class="chat-input">
            <textarea placeholder="Escribe algo ..."></textarea>
            <button>Send</button>
        </div>
    </div>
</body>
</html>
