<!-- chatsUnico.ejs -->

<title><%= title %></title>
<link rel="stylesheet" href="/stylesheets/chatsUnico.css"/>
<script src="/socket.io/socket.io.js" defer></script>
<script src="/javascripts/chatsUnico.js" defer></script>



<body>
    <div class="chat-container">
        <!-- Encabezado del Chat -->
        <div class="chat-header">
            <button id="salir">SALIR</button>
            <div class="profile_image">
                <img src="/images/profile_default.jpg" alt="Profile Image">
            </div>
            <div id="nick"><%= usuarioDestino %></div>
        </div>
         <!-- Mensajes del Chat -->
         <div class="chat-messages" id="chat-messages">
            <% mensajesAnteriores.forEach(mensaje => { %>
                <div class="message">
                    <div class="message-content"><%= mensaje.content %></div>
                </div>
            <% }); %>
        </div>
        <!-- Entrada del Chat -->
        <div class="chat-input">
            <textarea id="mensaje-input" placeholder="Escribe algo ..."></textarea>
            <button onclick="enviarMensaje()">Send</button>
        </div>
    </div>
</body>
</html>
