<!-- chat.ejs -->
<%- include("header", {}) %>
<h1><%= title %></h1>
<div class="chat-container">
    <!-- Lista de Chats -->
    <ul class="chat-list">
        <li class="chat-item"><a href="/chatsUnico/usuario1">Usuario 1</a></li>
        <li class="chat-item"><a href="/chatsUnico/usuario2">Usuario 2</a></li>
        <!-- Agrega más usuarios según sea necesario -->
    </ul>
</div>

<%- include("footer", {}) %>
