<%- include("header", {}) %>
<link rel="stylesheet" href="/stylesheets/clasificación.css">
<body>
    <div class="clasificacion-container">
      <img id="lupa" src="../../images/search.webp" alt="lupa" />
      <input type="text" id="search-input" placeholder="BUSCAR" />
      <ul class="clasificacion-list">
        <% users.forEach(user => { %>
          <li class="clasificacion-item">
            <img
              class="fotoPerfil"
              src="../../images/profile_default.jpg"
              alt="fotoPerfil"
            />
            <span class="info-usuario">
              <span class="nombre"><%= user.username %></span>
              <span class="puntos">Puntos: <%= user.points %></span>
            </span>
          </li>
        <% }) %>
      </ul>
    </div>
</body>
<%- include("footer", {}) %>
