<%- include("header", {}) %>
<h1><%= title %></h1>
<body>
  <form method="POST" action="/feedback" id="form">
    <div class="form">
      <h1>Envíanos tu opinión sobre 69GAMES</h1>
      <div class="grupo">
        <input type="text" name="feedback" id="feedback_text" required><br/>
      </div>
      <button type="submit" id="submit-btn-feedback">Enviar comentario</button>
    </div>
  </form>
</body>
<%- include("footer", {}) %>
