<%- include("header", {}) %>
<h1><%= title %></h1>
<body>
  <form action="/feedback" method="POST"  id="form">
    <div class="form">
      <h1>Envíanos tu opinión sobre 69GAMES</h1>
      <div class="grupo">
        <textarea rows="20" cols="90" id="input-feedback"></textarea><br/>
      </div>
      <button type="submit" id="submit-btn-feedback">Enviar comentario</button>
    </div>
  </form>
</body>
<%- include("footer", {}) %>
