<%- include("header", {}) %>
<h1><%= title %></h1>
<body>
    <div id="container-feedback">
        <p>Envíanos tu opinión sobre 69GAMES</p>
        <textarea rows="20" cols=90 id="input-feedback""></textarea><br><br>
        <button  type="submit" id="submit-btn-feedback">Enviar comentario</button>
    </div>
</body>
<%- include("footer", {}) %>