<footer>
  <div class="container">
    <div class="logo">
      <img src="images/69GAMES.png" alt="Logo de la empresa">
    </div>
    <div class="info">
      <p>© 2024 Empresa S.A. Todos los derechos reservados.</p>
    </div>
</footer>
