<%- include("header", {}) %>
<h1><%= title %></h1>

<div id="container-tienda">
  <div id="titulo-tienda">
    <p>Welcome to <%= title %></p>
  </div>
  <div id="items-tienda">
    <div class="row">
      <div class="col-sm">One of three columns</div>
      <div class="col-sm">One of three columns</div>
      <div class="col-sm">One of three columns</div>
    </div>
    <div class="row">
      <div class="col-sm">One of three columns</div>
      <div class="col-sm">One of three columns</div>
      <div class="col-sm">One of three columns</div>
    </div>
    <div class="row">
      <div class="col-sm">One of three columns</div>
      <div class="col-sm">One of three columns</div>
      <div class="col-sm">One of three columns</div>
    </div>
  </div>
</div>
<%- include("footer", {}) %>
