<%- include("header", {}) %>
<h1><%= title %></h1>

<div id="container-tienda">
  <div id="titulo-tienda">
    <p>Welcome to <%= title %></p>
  </div>
  <div id="items-tienda">
    <div class="row">
      <div class="col-sm"><img src="/images/spaceship.png"><p>BLACK SHIP</p></div>
      <div class="col-sm"><img src="/images/spaceCannon.png"><p>SPACE CANNON</p></div>
      <div class="col-sm"><img src="/images/rocket.png"><p>ROCKET</p></div>
    </div>
    <div class="row">
      <div class="col-sm"><img src="/images/shuttle.png"><p>SPACE SHUTTLE</p></div>
      <div class="col-sm"><img src="/images/hellYeah.png"><p>RED BATTLESHIP</p></div>
      <div class="col-sm"><img src="/images/bigShip.png"><p>HUNTER SHIP</p></div>
    </div>
    <div class="row">
      <div class="col-sm"><img src="/images/blueShip.png"><p>BLUE BATTLESHIP</p></div>
      <div class="col-sm"><img src="/images/fuckYeah.png"><p>PORKY STAR</p></div>
      <div class="col-sm"><img src="/images/deathStar.png"><p>DEATH STAR</p></div>
    </div>
  </div>
</div>
<%- include("footer", {}) %>
