* {
    font-family: 'roboto';
}

body {
    background: linear-gradient(to right, #0fb9fc, #ba30f1);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.topnav {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: space-between;
}

.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    flex: 1;
}

.topnav a:hover {
    background: linear-gradient(#0fb9fc, #ba30f1);
    color: #333;
}

#boton-jugar {
    align-self: flex-end;
    margin-right: 60px;
    margin-top: auto; 
    margin-bottom: 60px; 
    font-family: 'roboto';
    border-radius: 10px;
    background-color: #333;
    color: #fff;
    height: 90px;
    width: 260px;
    font-size: 40px;
    cursor: pointer;   
}

#boton-jugar:hover {
    background: linear-gradient(#0fb9fc, #ba30f1);
    color: #333;
}

.col-sm {
    flex: 1;
    padding: 20px;
    background-color: skyblue;
    aspect-ratio: 1/1;
    max-width: 10px; /* Adjust the width to make the squares larger */
    max-height: 160px; /* Adjust the height to make the squares larger */
    margin: 5px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
    border: 1px solid var(--colorTextos);
    margin-bottom: 5px;
    color: white;
  }

.col-sm:hover {
    background: var(--backgroundGradient);
    background-color: #33135C;
    cursor: pointer;
    color: white;
}

.titulo-tienda, .items-tienda {
    display: block;
  }

.titulo-tienda{
   text-align: center;
}
.container-tienda {
    justify-content: space-between;
    position: relative;
    display: inline-block;
    width: 500px;
    height: 500px;
  }

  #submit-btn-feedback {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
  }

#input-feedback {
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    font-size: large;
    
}

#container-feedback {
    text-align: center; 
    margin: auto; 
    width: 70%; 
}

#input-feedback {
    width: 100%;
}

.profile_image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #000;
  margin: 10px auto;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.profile_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile_data {
  font-family: 'Roboto';
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  display: inline-block;
  text-align: center;
  width: 20%;
  margin: auto;
}

.foto button {
    font-family: 'Roboto';
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    color: black;
    margin: 0 auto; /* Esto centrará el botón horizontalmente */
    display: block;
}
  
.foto button:hover {
    background: #fff;
    color: #49454567;
}

.feedback {
  text-align: right;
  margin-right: 20px;
  margin-bottom: 20px;
}

.feedback button {
  font-family: 'Roboto';
  float: right;
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  color: black;
}

.feedback button:hover {
  background: #fff;
  color: #49454567;
}

#resultados-busqueda {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    width: 48%;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 1;
}

.chat-container {
    height: 95%;
    width: 50%;
    margin: auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    border: black;
}

#lupa {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid var(--colorTextos);
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.search-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

#search-input {
    flex: 1;
    padding: 10px;
    border: 1px solid var(--colorTextos);
    border-radius: 5px;
}

.chat-list {
    list-style: none;
    padding: 0;
}

.chat-item {
    text-align: left;
    background: white;
    background: linear-gradient(to right, #0fb9fc, #ba30f1);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
    border: 1px solid var(--colorTextos);
    margin-bottom: 5px;
    color: white;
}

.chat-item:hover {
    background: var(--backgroundGradient);
    background-color: #33135C;
    cursor: pointer;
    color: white;
}
/* Estilo del footer */
footer {
    background-color: #333;
    color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilo de los enlaces del footer */
footer a {
    color: #f2f2f2;
    text-decoration: none;
    padding: 10px;
}

/* Efecto de hover para los enlaces del footer */
footer a:hover {
    background: linear-gradient(#0fb9fc, #ba30f1);
    color: #333;
}
.logo img {
    width: 50px; /* Ancho específico */
    height: 50px; /* Alto específico */
}