* {
    font-family: 'roboto';
}

body {
    background: linear-gradient(to right, #0fb9fc, #ba30f1);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.topnav {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: space-between;
}

.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    flex: 1;
}

.topnav a:hover {
    background: linear-gradient(#0fb9fc, #ba30f1);
    color: #333;
}

#boton-jugar {
    align-self: flex-end;
    margin-right: 60px;
    margin-top: auto; 
    margin-bottom: 60px; 
    font-family: 'roboto';
    border-radius: 10px;
    background-color: #333;
    color: #fff;
    height: 90px;
    width: 260px;
    font-size: 40px;
    cursor: pointer;   
}

#boton-jugar:hover {
    background: linear-gradient(#0fb9fc, #ba30f1);
    color: #333;
}

.col-sm {
    flex: 1;
    padding: 20px;
    background-color: skyblue;
    aspect-ratio: 1/1;
    max-width: 350px; /* Adjust the width to make the squares larger */
    max-height: 350px; /* Adjust the height to make the squares larger */
    margin: 10px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
    border: 1px solid var(--colorTextos);
    margin-bottom: 5px;
    color: white;
  }

.col-sm:hover {
    background: var(--backgroundGradient);
    background-color: #33135C;
    cursor: pointer;
    color: white;
}

.titulo-tienda, .items-tienda {
    display: block;
  }

.titulo-tienda{
   text-align: center;
}
.container-tienda {
    justify-content: space-between;
    position: relative;
    display: inline-block;
    width: 500px;
    height: 500px;
  }

  #submit-btn-feedback {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
  }

#input-feedback {
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    font-size: large;
    
}

#container-feedback {
    text-align: center; 
    margin: auto; 
    width: 70%; 
}

#input-feedback {
    width: 100%;
}