body {
    font-family: 'Roboto';
    background: #49454567;
    background: linear-gradient(to right, #0fb9fc, #ba30f1);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    text-align: center;
  }

.topnav {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: space-between;
  }
  
  .topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    flex: 1;
  }
  
  .topnav a:hover {
    background: linear-gradient(#0fb9fc, #ba30f1);
    color: #333;
  }
  
.chat-container {
    height: 95%;
    width: 95%;
    margin: auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    border: black;
}

#lupa {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid var(--colorTextos);
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.search-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

#search-input {
    flex: 1;
    padding: 10px;
    border: 1px solid var(--colorTextos);
    border-radius: 5px;
}

.chat-list {
    list-style: none;
    padding: 0;
}

.chat-item {
    text-align: left;
    background: white;
    background: linear-gradient(to right, #0fb9fc, #ba30f1);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
    border: 1px solid var(--colorTextos);
    margin-bottom: 5px;
    color: white;
}

.chat-item:hover {
    background: var(--backgroundGradient);
    background-color: #33135C;
    cursor: pointer;
    color: white;
}
