body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.chat-container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    height: 80%;
    overflow: hidden;
}

.chat-header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #040505;
    color: #fff;
}

.chat-header .profile_image img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

#name {
    font-weight: bold;
    font-size: 18px;
}

.chat-messages {
    flex-grow: 1;
    padding: 10px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.message {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    max-width: 70%;
}

.received {
    text-align: left;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border: 1px solid #ccc;
    margin-bottom: 5px;
    display: inline-block;
}

.sent {
    align-self: flex-end;
    margin-left: auto;
    text-align: left;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border: 1px solid #ccc;
}

.chat-input {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ccc;
    background-color: #fff;
}

.chat-input textarea {
    flex-grow: 1;
    border: none;
    border-radius: 5px;
    padding: 10px;
    resize: none;
}

.chat-input button {
    background-color: #040505;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    text-align: center;
}

